

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}



.main-vid-con{
  width: 1440px;
  height: 800px;
  background-color: #FFFFFF;
}

.main-vid {
  width: 1440px;
  height: 800px;
  background-color: grey;
  /* outline: none; */
}

.layer-over-box {
  width: 1440px;
  height: 800px;
  display: flex;
  position: absolute;
  background-color: rgb(0 0 0/0.7);
  top: 0px;
  flex-direction: column;
  gap: 290px;
  /* align-items: center; */
}

.top-bar {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  gap: 270px;
  background-color: rgb(128 128 128 /0.5);
}

.logo {
  font-weight: bolder;
  color: #f0f0f0;
}

.menu {
  display: flex;
  gap: 20px;
  width: 420px;
  background-color: transparent;
  justify-content: center;
}

.menu-btn {
  background-color: transparent;
  border: 0px solid white;
  color: #f0f0f0;
}


.bookbtn {
  background-color: orange;
  width: fit-content;
  padding: 10px;
  border: 0px solid white;
  color: #f0f0f0;
}
button {
  cursor: pointer;
}

.main-CTA-con {
  width: 1000px;
  height: fit-content;
  background-color: transparent;
  margin-left: 140px;
  padding: 20px;
  /* display: flex;
  flex-direction: column;
  gap: 20px; */
}

h1 {
  font-size: 3.2rem;
  color: #f0f0f0;
}
.main-text {
  color: #f0f0f0;
}

.request-quote-btn {
  height: 50px;
  width: 200px;
  color: #f0f0f0;
  background-color: transparent;
  border: 2px solid #f0f0f0;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.request-quote-btn:hover {
  background-color: rgb(77, 75, 75);
}




/* second section starts here */

.about-con {
  width: 1440px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.website-name {
  font-size: 1.2rem;
  font-weight: bolder;
}

.about-con p {
  width: 900px;
}

.about-VC {
  background-color: orange;
  width: 200px;
  padding: 10px 0px;
  border: 0px solid white;
  color: #f0f0f0;
  font-weight: bolder;
}



.ourservices-con {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 600px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.our-service-slide-container {
  width: 1000px;
  display: flex;
  height: fit-content;
  padding: 20px;
}


.our-services-img {
  height: 400px;
  width: 300px;
}


.our-service-text-line {
  position: relative;
  bottom: 40px;
  font-size: 12px;
  color: rgb(77, 75, 75);
  font-weight: bolder;
}


.how-it-works-con {
  width: 1440px;
  height: 600px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.second-how-it-works-con {
  background-color: #cac6c6;
  width: 1000px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third-how-it-works-con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
}

.steps-for-ideas {
  background-color: #f0f0f0;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
  gap: 10px;
}

.steps-for-ideas  p {
  font-size: 11.5px;
}

.steps-for-ideas h3 {
  font-size: 14px;
}

.icon-idea-con {
  height: 50px;
  width: 50px;
  background-color: orange;
  border-radius: 50%;
} 



/* third section */

.your-shoe-journey {
  height: 560px;
  width: 1440px;
  background-color: #cac6c6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoe-journey-col-1 {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 420px;
}

.shoe-journey-col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 480px;
  background-color: #f3f4f2;
}

.arrow {
  margin-left: 50px; 
  text-align: right;
  flex-basis: auto;
  font-weight: bolder;
}

.heading-2 {
  margin-bottom: 40px;
  font-size: 30px;
}

.shoe-journey-text-line {
  margin-top: 20px;
  padding-bottom: 25px;
  height: 20px;
  width: 420px;
  background-color: transparent;
  display: flex;
  gap: 120px;
  border-bottom: 2px solid black;
}

.shoe-journey-text-line p {
  width: 250px;
  font-weight: bolder;
}


/* fourth section  */
.the-world-of-veal-con {
  margin-top: 100px;
  width: 1440px;
  height: 820px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-the-world-of-veal-con {
  height: fit-content;
  width: fit-content;
  padding: 20px;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 200px 100px 100px 200px;
  background-color: whitesmoke;
  gap: 4px;
}

.world-of-veal-grid-1, .world-of-veal-grid-2, .world-of-veal-grid-3, .world-of-veal-grid-5, .world-of-veal-grid-4, .world-of-veal-grid-5, .world-of-veal-grid-6, .world-of-veal-grid-img {
  height: 300px;
  width: 200px;
} 

.world-of-veal-grid-x-1, .world-of-veal-grid-x-2, .world-of-veal-grid-x-3, .world-of-veal-grid-img-x {
  height: 200px;
  width: 200px;
}

.world-of-veal-grid-1 {
  grid-row: 1/3;
  grid-column: 1/2;
}

.world-of-veal-grid-2 {
  grid-row: 3/5;
  grid-column: 1/2;
}

.world-of-veal-grid-x-1 {
  grid-row: 1/2;
  grid-column: 2/3;
}

.world-of-veal-grid-x-2 {
  grid-row: 2/4;
  grid-column: 2/3;
}

.world-of-veal-grid-x-3 {
  grid-row: 4/5;
  grid-column: 2/3;
}

.world-of-veal-grid-3 {
  grid-row: 1/3;
  grid-column: 3/4;
}

.world-of-veal-grid-4 {
  grid-row: 3/5;
  grid-column: 3/4;
}

.world-of-veal-grid-5 {
  grid-row: 1/3;
  grid-column: 4/5;
}

.world-of-veal-grid-6 {
  grid-row: 3/5;
  grid-column: 4/5;
  background-color: black;
}


.shoe-journey-img {
  height: 400px;
  width: 280px;
}



/* Testimonial  */

.testimonial {
  width: 1440px;
  height: 1200px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
   justify-content: center; 
  /* align-items: center; */

}

.testimonial-inner-con {
  width: 1440px;
  height: 1200px;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-box-1 {
  width: 1440px;
  height: 1200px;
  display: grid;
  grid-template-columns: 1440px;
  grid-template-rows: 1200px;
}

.testimonial-box-1 img {
  width: 1440px;
  height: 1200px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.testimonial-text-box {
  width: 1440px;
  height: 1200px;
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
  background-color: rgb(0 0 0/0.2);
}

.testimonial-box-1 p {
  /* width: 1440px;
  height: 1200px;
  grid-column: 1/2;
  grid-row: 1/2; */
  color: #f3f4f2;
  /* position: relative; */
  font-size: 50px;
  line-height: 40px;
  font-weight: bolder;
  /* background-color: rgb(0 0 0/0.3); */
  padding-top: 450px;
  padding-left: 100px;
}


.name-testimonial {
  font-size: 24px;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: normal;
}

.heading-3 {
  font-weight: 18px;
  color: #f3f4f2;
  position: relative;
  top: 100px;
  left: 100px;
  margin-bottom: 50px;
  z-index: 1;
}

 .arrow-back-and-front-line {
  position: relative;
  bottom: 350px;
  z-index: 1;
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
  gap: 20px;
  /* color: orange; */
  font-size: 50px;
  margin-left: 200px;
} 


.arrow-back-testimonial {
  cursor: pointer;
  color: rgb(138, 100, 31);
}

.arrow-front-testimonial {
  cursor: pointer;
  color: orange;
}



/* cta area */

.CTA {
  max-width: 100%;
  height: 300px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;

}

.cta-input-container {
  margin: 20px 0px;
  width: fit-content;
  height: fit-content;
}

.cta-input-container input {
 height: 37px;
 width: 200px;
}

.cta-btn {
  background-color: orange;
  height: 40px;
  border-radius: 0px;
  border: 0px;
  padding: 10px;
  color: #f0f0f0;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}


 /* footer */
footer {
  height: 200px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.footer-menu {
  height: 20px;
  display: flex;
  gap: 20px;
  width: inherit;
  justify-content: center;
  align-items: center;
}

.footer-menu .menu-btn {
  color: black;
}

.footer-social-media-icons-container {
  width: inherit;
  height: 40px;
  display: flex;
}

.footer-social-media-icons-container ul {
  display: flex;
  gap: 20px;
  width: inherit;
  height: 40px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}


li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: inherit;
}